<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Прогноз_прибыли_фирмы.Properties.Settings.FirmWorkConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\DGTU\3 курс\2 СЕМЕСТР\стандартизация ПС\Прогноз_прибыли_фирмы\деятельность фирмы.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>